{% extends "base_generic.html" %}

{% block content %}
    <h1>Sharefest SMS service</h1>
    <h2>Twilio integrated sms boxes</h2>
    <p>Please compose a message</p>
    <!-- <div class="sms-field"> -->
    <form id="SMSForm" action="/sms/result" class="form-inline col-lg-4 col-8">
        {% csrf_token %}
        {{ form.as_p }}
        <!-- <p>Send to Pantries? {{ form.isPantry }}</p>
        <p>ZIP{{ form.zip_code }}</p>
        {{ form.body }} -->
        <input class="btn btn-primary text-center send" type="submit" value="SEND" name="">
    </form>
    <!-- </div> -->
{% endblock %}