{% extends "base_generic.html" %}

{% block content %}
    <h1>Your .csv file upload service</h1>
    <h2>libraries for csv parsing & hopefully a gui</h2>
    <p>Please check Back Later</p>
    {% if messages %}
        {% for message in messages %}
            <div>
                {{message|safe}}
            </div>
        {% endfor %}

    {% else %}
        {{order}}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label>Upload a file</label>
            <input type="file" name="file">
            <p>Only accepts .csv files</p>
            <button type="submit">Upload</button>
        </form>
    {% endif %}
{% endblock %}