@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SMS Food Service</h1>
    <p class="lead">A project to help food banks communicate new available packages information to clients</p>
</div>

